.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgb(var(--primaryBG));
}

.mainContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrouselHighlights {
    width: 90%;
}

.subContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-top: 20px;
    background: #000;
}

.d_none {
    display: none !important;
}