.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navContainer {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(30, 35, 55), rgb(var(--specialBG)));
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 1rem 0px 0px;
    color: rgb(var(--primaryColor));
    filter: drop-shadow(0 0 5px rgba(var(--primaryColor), 0.5));
    user-select: none;
}

.logoImage {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    filter: drop-shadow(0 0 5px rgba(var(--primaryColor), 0.5));
    user-select: none;
}

.logoImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navOptions {
    min-width: 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
}


.navigationLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.navigationLinks a {
    color: rgb(var(--textColor));
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navigationLinks a:hover {
    color: rgb(var(--primaryColor), 0.8);
    filter: drop-shadow(0 0 5px rgba(var(--textColor)));
}

.profileOptions a {
    color: rgb(var(--textColor));
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.profileOptions a:hover {
    color: rgb(var(--specialTextColor), 0.8);
    filter: drop-shadow(0 0 5px rgba(var(--textColor)));
}

.logoutBtn {
    margin-left: 1.5rem;
    padding: 5px 10px;
    font-weight: bold;
    color: rgb(255, 50, 50);
    background: transparent;
    border: 1px solid rgba(255, 50, 50, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoutBtn:hover {
    color: rgb(var(--white));
    background: rgba(255, 50, 50);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Responsivo */

.mobileToggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    flex-shrink: 0
}

.navMobile {
    position: absolute;
    top: 62px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 62px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    background-color: rgb(25, 30, 45);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 90;
}

.navMobile.open {
    left: 0;
}

.navMobileLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.navMobileLinks a {
    font-size: 24px;
    color: rgb(var(--textColor));
    transition: all 0.3s ease;
}

.navMobileLinks a:hover {
    color: rgb(var(--primaryColor), 0.8);
    filter: drop-shadow(0 0 5px rgba(var(--textColor)));
    transform: scale(1.03);
}

@media screen and (max-width: 740px) {
    .navbar {
        gap: 5px;
    }
}

@media screen and (max-width: 682px) {

    .mobileToggle {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
        color: rgb(var(--textColor));
    }

    .profileOptions {
        display: none;
    }

    .navigationLinks {
        display: none;
    }

    .navContainer {
        padding: 0px 20px;
    }

    .navMobile {
        display: flex;
    }

    .subnav .item {
        display: none;
    }

    .inputSearch {
        width: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* Subnav styles */

.subnavContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subnav {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34495e;
    gap: 2rem;
}

.subnav .item {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.subnav .item:hover {
    text-decoration: underline;
}