.main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: rgb(var(--primaryBG));
}

.page {
    width: 80%;
    /* display: grid;
    grid-template-columns: 70% 30%; */
    gap: 20px;
    margin-top: 40px;
}

.firstSection {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
}

.left {
    background: #1b2838;
    padding: 10px;
    border-radius: 8px;
}

.right {
    background: linear-gradient(to bottom, rgba(var(--white), 0.1), rgba(var(--primaryBG)));
    padding: 20px;
    border-radius: 8px;
}

.gameImage {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;
}

.gameImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Actions {
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100%;
    background: rgb(var(--footerBG));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 6px;
}

.actionsButtons {
    display: flex;
    gap: 20px;
}


.title {
    color: #fff;
    font-size: 26px;
    margin-bottom: 10px;
}

.info {
    color: #c6d4df;
    margin-bottom: 8px;
}

.info span {
    color: #66c0f4;
}

.tags {
    margin-top: 10px;
}

.tags span {
    background: #324b66;
    padding: 6px 10px;
    border-radius: 4px;
    margin-right: 8px;
    color: #c6d4df;
    font-size: 13px;
}

.salesPackagesContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.gameDetails {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 25px;
}


.subtitle {
    color: rgb(var(--titleColor));
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}

.package {
    min-height: 80px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.freePack {
    background: linear-gradient(to right, rgb(var(--specialBG)), rgba(42, 65, 27, 0.5));
    border: 1px solid rgba(55, 255, 0, 0.5);
}


.salesPack {
    background: linear-gradient(to right, rgb(var(--specialBG)), rgba(23, 23, 23, 0.5));
    border: 1px solid rgba(var(--specialTextColor), 0.5);
}

.gamePurchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.packInfo h3 {
    color: rgb(var(--textyColor));
    margin-bottom: 10px;
}

.featureList {
    list-style: none;
    padding-left: 0;
}

.featureList li {
    color: #8f98a0;
    font-size: 14px;
    margin-bottom: 4px;
}

.packBuy {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.packButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.oldPrice {
    top: -20px;
    position: absolute;
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
}

.price {
    background: rgb(var(--footerBG), 0.5);
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: 600;
}

.priceDiscount {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discount {
    padding: 5px 5px;
    font-weight: 800;
    font-size: 20px;
    color: rgba(255, 255, 255);
    background: rgb(35, 67, 26);
    border: 1px solid rgb(60, 255, 0);
    border-radius: 5px;
}

.button {
    padding: 7px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.buyButton {
    background: #5cb85c;
    color: rgba(255, 255, 255);
}

.buyButton:hover {
    background: #4b9e4b;
}

.cartButton {
    background: rgb(23, 98, 172);
    color: rgb(255, 255, 255);
}

.cartButton:hover {
    background: rgb(20, 76, 132);
}

.extraContent {
    margin-top: 10px;
    background: #1b2838;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #0f1a25;
}

.extraRow {
    color: #c6d4df;
    padding: 4px 0;
}


.details {
    background: rgb(var(--footerBG));
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #0f1a25;
    height: fit-content;
    color: #c6d4df;
}

.detailsBox div {
    margin-bottom: 10px;
}

.detailsSub {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
}

/* BADGES */
.badges span {
    background: #324b66;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 6px;
    color: #c6d4df;
    font-size: 13px;
}

/* LANG TABLE */
.languagesTable {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.languagesTable th,
.languagesTable td {
    padding: 6px 4px;
    text-align: center;
    font-size: 14px;
}

.languagesTable th {
    color: #6f8793;
}

.languagesTable td {
    color: #c6d4df;
}



.requirementsSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(var(--footerBG));
}

.requirements {
    width: 80%;
    padding: 40px 0;
    color: #e0e0e0;
}

.requirements h2 {
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(var(--primaryBG));
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.requirementsBoxes {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.requirementBox {
    flex: 1;
    padding: 0px 25px;
}

.requirementBox h3 {
    font-size: 1.1rem;
    color: #00aaff;
    margin-bottom: 20px;
    font-weight: 600;
}

.requirementBox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.requirementBox li {
    padding: 10px 0;
    border-bottom: 1px solid #2a2a2a;
    font-size: 0.95rem;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

.requirementBox li:last-child {
    border-bottom: none;
}

.requirementBox li strong {
    color: #89a0c4;
    width: 120px;
    display: inline-block;
    font-weight: normal;
}

@media (max-width: 768px) {
    .requirementsBoxes {
        flex-direction: column;
        gap: 20px;
    }

    .requirementBox li strong {
        width: 100%;
        display: block;
        margin-bottom: 4px;
        font-weight: bold;
    }
}