.Carrousel {
    background: rgb(0, 54, 109);
}

.images {
    height: 450px;
    width: 100%;
}

.home {
    height: 350px;
    width: 90%;
}

.game {
    height: 400px;
    width: 80%;
}

.games {
    height: 200px;
    width: 100%;
}


@media screen and (min-width: 700px) {
    .home {
        width: 95%;
    }

    .games {
        width: 100%;
    }
}


.CarrouselGames {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
}

.slideGames {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0b1522;
}

.left {
    width: 65%;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: 35%;
    padding: 25px 20px;
    color: white;
    background: rgba(10, 20, 35, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.thumbs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-bottom: 20px;
}

.thumb {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.available {
    margin-top: 10px;
    font-size: 16px;
}

.tag {
    margin: 10px 0;
    padding: 5px 12px;
    font-size: 14px;
    background: #4ea1ff;
    border: none;
    color: white;
    border-radius: 4px;
}

.price {
    font-size: 20px;
    margin-top: 10px;
}

.discount {
    background: #5c7e10;
    padding: 4px;
    margin-right: 10px;
    border-radius: 4px;
}

.finalPrice {
    font-size: 20px;
}

.platform {
    margin-top: auto;
    opacity: 0.8;
}




.wrapper {
    height: 200px;
    width: 100%;
    padding: 10px 0;

    background: #000;
}

.carrouselOffer {
    width: 100%;
    padding: 10px 0;
    overflow: visible;
}

.card {
    background: #0b1a2a;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(20, 20, 20, 0.7);
    color: white;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 3px;
}

.banner {
    background: #b63428;
    text-align: center;
    padding: 6px 0;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.bottom {
    display: flex;
    padding: 10px;
    align-items: center;
    background: #082032;
}

.discount {
    background: #7bb21d;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 3px;
}

.prices {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.oldPrice {
    text-decoration: line-through;
    font-size: 13px;
    opacity: 0.6;
}

.newPrice {
    font-size: 18px;
    color: #bffb73;
    font-weight: bold;
}